*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
    color: #fff;
}
button {
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
    color: #fff;
}

ul,ol,li {
    list-style: none;
    margin: 0;
}

img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto, sans-serif;
    background-color: #303030;
    color: #fff;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}



._show {
    display: flex;
}

body._lock {
    overflow: hidden;
}

._mobile {
    display: none;
}
  
._desktop {
    display: block;
} 
.task {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 100px;
}
.task__list { 
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.task__list-nav {
   display: flex;
   flex-direction: row;
   gap: 5%;
   align-items: center; 
}
.task__list-nav i {
    
}

.task__list-nav span:hover {
    border: none;
    color: rgb(113, 228, 90);
    cursor: pointer;
}

.task__item { 
    width: 380px;
    height: 150px;
    border-radius: 10px;
    background-color: #c2c2c2;
    border: 1px #000;
    margin-top: 2%;
    color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3px;
    cursor: pointer;
}

.task__item:hover {
    border: none;
    box-shadow: 0 0 10px 0 #383068 inset, 0 0 10px 4px #383068;
}

.task__item-nav { 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.task__item-number { }
.task__item-status { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
.task__item-body h1{ 
    overflow: hidden;
    height: 50px;
}
.task__item-date { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 3%;
}

.nav__item a:hover {
    border: none;
    text-shadow: 3px 0px 2px rgb(204, 180, 71);
}

/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #515286;
    color: white;
    padding: 8px;
    white-space: nowrap;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    border-radius: 2px;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {background-color: #5e4172;}

  .task__form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 4;
    background-color: #000;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .task__form {

  }

  .task__form._hide {
    display: none;
  }
  .task__open { 
    position: absolute;
    top: 42%;
    left: 50%;
    margin-left:-325px;
    margin-top: -325px;
    background-color: #2d2d33;
    border-radius: 10px;
    opacity: 1.0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #close__task-open {
    cursor: pointer;
  }
  .task__open-background{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: 4;
    background-color: #000;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .task__open-background._hide {
    display: none;
  }


  .form {
    position: absolute;
    top: 42%;
    left: 50%;
    margin-left:-325px;
    margin-top: -325px;
    background-color: #2d2d33;
    border-radius: 10px;
    opacity: 1.0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .form h1 {
    font-weight: 800;
    font-size: 24px;
  }

  .form__task-body {
    padding: 50px;
  }
  .form__task-body label {
    padding-bottom: 10px;
  }

  .form__task-body input {
    margin-bottom: 20px;
    background-color: #1a1a1e;
    border: 4px solid #3e3e46;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  .input[type="date"] {
    padding-right: 10px;
  }

  .form__task-body select {
    margin-bottom: 20px;
    background-color: #1a1a1e;
    border: 4px solid #3e3e46;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
  }
  .form__task-body textarea {
    margin-bottom: 20px;
    background-color: #1a1a1e;
    border: 4px solid #3e3e46;
    border-radius: 10px;
    padding-left: 10px;
    color: #fff;
    width: 650px;
    font-size: 18px;
    resize: vertical;
  }

  .form__task-body input:focus{
    border-color: #7b60ff;
    box-shadow: 0 0 10px 0 #7b60ff inset, 0 0 10px 4px #7b60ff;   
  }
  .form__task-body input:hover {
    box-shadow: 0 0 10px 0 #7b60ff inset, 0 0 10px 4px #7b60ff;
  }
  .form__task-body textarea:hover {
    box-shadow: 0 0 10px 0 #7b60ff inset, 0 0 10px 4px #7b60ff;
  }

  .form._hide {
    display: none;
  }
  .task__open._hide {
    display: none;
  }

  .form__task-body {
    display: flex;
    flex-direction: column;
  }
  .fff{
    color: #ffffff;
  }
  .form__nav {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .form__nav h1 {
    margin: auto;
    padding-left: 40px;
  }
  .form__nav i {
   position: relative;
   margin-right: 30px;
  }
  #close {
    cursor: pointer;
  }
  .form__button-save {
    background-color: #7b60ff;
    border-radius: 5px;
    color: #fff;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .form__button-save:hover {
    box-shadow: 0 0 10px 0 #7b60ff inset, 0 0 10px 4px #7b60ff;
    background-color: transparent;
    text-shadow: 3px 0px 2px rgb(98, 71, 204);
  }
  .form__button-save:active {
    background-color: #7b60ff;
  }
  
  .auth { 
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #1a1a1e;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .auth__nav { 
    display: flex;
    flex-direction: column;
    background-color: #3e3e46;
    padding: 20px;
    border-radius: 10px;
  }
  .auth__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .auth__button { 
    background-color: #7b60ff;
    border-radius: 5px;
    color: #fff;
    width: 115px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .auth__button:hover {
    box-shadow: 0 0 10px 0 #7b60ff inset, 0 0 10px 4px #7b60ff;
    background-color: transparent;
    text-shadow: 3px 0px 2px rgb(98, 71, 204);
  }
  .auth__button:active {
    background-color: #7b60ff;
  }
  .auth__form input {
    margin-bottom: 20px;
    background-color: #1a1a1e;
    border: 4px solid #3e3e46;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
  }
  .auth__form input:focus{
    border-color: #7b60ff;
    box-shadow: 0 0 10px 0 #7b60ff inset, 0 0 10px 4px #7b60ff;   
  }
  .auth__form input:hover {
    box-shadow: 0 0 10px 0 #7b60ff inset, 0 0 10px 4px #7b60ff;
  }
  .auth__form textarea:hover {
    box-shadow: 0 0 10px 0 #7b60ff inset, 0 0 10px 4px #7b60ff;
  }

  .auth._hide {
    display: none;
  }